[submodule "library/doctrine2-orm"]
	path = library/doctrine2-orm
	url = git://github.com/doctrine/doctrine2.git
[submodule "library/doctrine2-dbal"]
	path = library/doctrine2-dbal
	url = git://github.com/doctrine/dbal.git
[submodule "library/doctrine2-common"]
	path = library/doctrine2-common
	url = git://github.com/doctrine/common.git
[submodule "library/phpThumb"]
	path = library/phpThumb
	url = git://github.com/masterexploder/PHPThumb.git
[submodule "public/js/jquery/3rd_party/supersized"]
	path = public/js/jquery/3rd_party/supersized
	url = git://github.com/uhon/supersized.git
[submodule "library/ZendX"]
	path = library/ZendX
	url = git://github.com/Prinhotels/ZendX.git
[submodule "library/Zend"]
	path = library/Zend
	url = git://github.com/Prinhotels/Zend.git
[submodule "public/js/3rd_party/jquery.mb.bgndGallery"]
	path = public/js/3rd_party/jquery.mb.bgndGallery
	url = git://github.com/uhon/jquery.mb.bgndGallery
