library/Zend/
library/ZendX/
tests/log/
public/css/.sass-cache/

/.idea
/.project
/.buildpath
/.cache
/.settings
/.zfproject.xml
.settings/
.sass-cache/


/log

public/js/ckeditor
public/js/firebug
public/js/gmaps
public/js/ie6update
public/js/jquery
public/js/php-js
public/js/swfupload
public/js/selectToUISlider

/media

/public/.htaccess
/public/test.php
/public/cache/*
/public/uploads/*
/public/upload/*
/public/compressed/*
/public/images/captcha/*

/test/log
/test/build
/application/config/sql/dump.sql

*.mwb.bak

/.externalToolBuilders/*

## generic files to ignore
*~
*.lock
*.~lock*
*.DS_Store
*.swp
*.out