library/Tp/Entity/Proxy/*
library/Tp/Phpthumb
tests/log/

/scratch
/uhon

/.idea
/.project
/.buildpath
/.cache
/.settings
/.zfproject.xml
.sass-cache/

/config/deploy/production.rb
/application/configs/application.production.ini
/log

/media

/public/.htaccess
/public/test.php
/public/cache/*
/public/upload/*
/public/media/*
/public/compressed/*
/public/js/jquery/3rd_party/supersized

/test/log
/test/build

/.externalToolBuilders/*

## generic files to ignore
*~
*.lock
*.~lock*
*.DS_Store
*.swp
*.out
