library/Zend/
library/ZendX/
library/Tp/Entity/Proxy/*
library/Tp/Phpthumb
tests/log/

/scratch

/.idea
/.project
/.buildpath
/.cache
/.settings
/.zfproject.xml
.sass-cache/

/log

public/js/ckeditor
public/js/gmaps
public/js/jquery

/media

/public/.htaccess
/public/test.php
/public/cache/*
/public/upload/*
/public/media/*
/public/compressed/*

/test/log
/test/build

/.externalToolBuilders/*

## generic files to ignore
*~
*.lock
*.~lock*
*.DS_Store
*.swp
*.out
