@import "../js/jquery/3rd_party/supersized/slideshow/theme/supersized.shutter.css";
@import "reset";
@import "form";

h1 { font-size: 22px; font-weight: bold; line-height: 35px; }
h2 { font-size: 18px; line-height: 30px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h5 { font-size: 12px; }

div.clear { clear: both; }

#playground {
    text-align: center;
}
.waitIcon {
    position: absolute;
    text-align:center;
    img {
        width: 100%;
    }
}

.waitIconOverlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}

.ui-widget-overlay {
    background: url("/img/modalBackground.png") repeat scroll 50% 50% #666666;
}

/* Coloring defaults for Tables*/
table {
    color: green;
    tr.head {
        color: #EBF09E;
        background-color: #797979;
    }
    tr.even {
        background-color: #f0fff0;
    }
    tr.odd {
        background-color: #e6e6fa;
    }
    /*textarea {
        width: 98%;
        height:100px;
    }*/
}

#topnav {
    margin: 10px 0 30px 0;
    font-size: 16px;
    display: block;

    .navigation {
        li {
            display:block;
            float:left;
            width: 150px;

            ul {
                li {
                    font-size: 14px;
                    padding-left: 10px;
                }
                li.active {
                     a {
                        color: #555555;
                     }
                }
            }
            a {
                color: #3d77cb;
                text-decoration: none;
            }
        }
        li.active > a {
            color: #555555;
        }
    }
}

.flashMessages {
    clear: both;
    display:block;
    padding: 5px;
    margin: 5px 0;

    ul {
        list-style: circle inside;
    }
}

.debugMessages {
    color: white;
    background-color: #2f4f4f;
}

.infoMessages {
    color: #2f4f4f;
    background-color: #98fb98;
}

.errorMessages {
    color: #8b0000;
    background-color: #bc8f8f;
}

#content {
    clear: both;
    font-size: 12px;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid black;
    border-radius: 10px;

    table.valueTable {
        margin: 10px;
        border: 3px solid #ffebcd;
        border-radius: 5px;

        td, th {
            padding: 5px 10px;
        }
    }
}

#footer {
    margin-top: 40px;
    padding: 5px;
    background-color: #E4E4E4;
    a {
        color: #556b2f;
    }
}

#svgMapContainer {
    width: 100%;
    height:400px;
    display:block;
    overflow: hidden;
}

#iframePreviewContainer {
    width: 1100px;

    .preview {
        //width: 500px;
        margin:  25px 25px 0 0;
        float: left;
    }
}

div.worldMapLarge {
    svg {
        width:680px;
  	    height:290px;
    }
}

div.worldMapSmall {
    margin: 5px auto 15px auto;
    svg {
  	    height:160px;
        width:230px;
    }
}

.activePoi {
    cursor: pointer;
}

#fullscreen_toggle {
    position: absolute;
    width: 100px;
    height:30px;
    top: 10px;
    right: 10px;
}

#close-supersized {
    position: absolute;
    width: 20px;
    height:30px;
    top: 10px;
    left: 10px;
}

#supersized-wrapper {
    display:none;
}

.lightTip {
    .content {
        border:6px solid #000;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        background:#222;
        opacity: 0.9;
        color:#fff;
        padding:10px;
    }
    .bottom {
        clear:both;
        opacity: 0.9;
        background:url(/img/tinyTip-notch.png) no-repeat scroll center top;
        height:13px;
    }
}

