//@import "../js/jquery/3rd_party/supersized/slideshow/theme/supersized.shutter.css";
@import "reset";
@import "form";

h1 { font-size: 22px; font-weight: bold; line-height: 35px; }
h2 { font-size: 18px; line-height: 30px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h5 { font-size: 12px; }

div.clear { clear: both; }

#playground {
    text-align: center;
    padding-top: 60px;
}

.waitIcon {
    position: absolute;
    text-align:center;
    img {
        width: 100%;
    }
}

.waitIconOverlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}

.ui-widget-overlay {
    background: url("/img/modalBackground.png") repeat scroll 50% 50% #666666;
}

/* Coloring defaults for Tables*/
table {
    color: green;
    tr.head {
        color: #EBF09E;
        background-color: #797979;
    }
    tr.even {
        background-color: #f0fff0;
    }
    tr.odd {
        background-color: #e6e6fa;
    }
    /*textarea {
        width: 98%;
        height:100px;
    }*/
}

#topnav {
    margin: 10px 0 30px 0;
    font-size: 16px;
    display: block;

    .navigation {
        li {
            display:block;
            float:left;
            width: 150px;

            ul {
                li {
                    font-size: 14px;
                    padding-left: 10px;
                }
                li.active {
                     a {
                        color: #555555;
                     }
                }
            }
            a {
                color: #3d77cb;
                text-decoration: none;
            }
        }
        li.active > a {
            color: #555555;
        }
    }
}

.flashMessages {
    clear: both;
    display:block;
    padding: 5px;
    margin: 5px 0;

    ul {
        list-style: circle inside;
    }
}

.debugMessages {
    color: white;
    background-color: #2f4f4f;
}

.infoMessages {
    color: #2f4f4f;
    background-color: #98fb98;
}

.errorMessages {
    color: #8b0000;
    background-color: #bc8f8f;
}

#content {
    clear: both;
    font-size: 12px;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid black;
    border-radius: 10px;

    table.valueTable {
        margin: 10px;
        border: 3px solid #ffebcd;
        border-radius: 5px;

        td, th {
            padding: 5px 10px;
            vertical-align: middle;
        }

        .tinyThumb {
            width: 70px;
        }

    }
}

#footer {
    margin-top: 40px;
    padding: 5px;
    background-color: #E4E4E4;
    a {
        color: #556b2f;
    }
}

#svgMapContainer {
    //width: 100%;
    //height:400px;
    display:block;
    overflow: hidden;
}

#iframePreviewContainer {
    width: 1100px;

    .preview {
        //width: 500px;
        margin:  25px 25px 0 0;
        float: left;
    }
}

div.worldMapLarge {
    cursor:move;
    width:685px;
    height:370px;
    overflow:hidden;
    moz-border-radius: 10px;
    webkit-border-radius: 10px;
    border-radius: 10px;

    svg {
        width:1405px;
  	    height:600px;
    }
}

div.worldMapSmall {
    cursor:move;
    width:230px;
    height:160px;
    margin: 5px 0 15px 0;
    overflow:hidden;
    moz-border-radius: 5px;
    webkit-border-radius: 5px;
    border-radius: 5px;

    svg {
  	    height:600px;
        width:1405px;
    }
}

#poiPicker {
  display:none;
  z-index: 0;
  cursor:crosshair;
}

#photoStream {
    height:135px;
    position:relative;
    top: 5px;
}

.diashow_link {
    float: right;
    text-align:right;
    clear:both;
    padding: 0.3em 0;
    a {
        color: #C5CBD0;
        text-decoration: none;
        
    }
    a:hover {
        text-decoration: underline;
    }
    
}

.activePoi {
    cursor: pointer;
}

#fullscreen_toggle {
    position: absolute;
    width: 100px;
    height:30px;
    top: 10px;
    right: 10px;
}

#close-supersized {
    position: absolute;
    width: 20px;
    height:30px;
    top: 10px;
    left: 10px;
}

#supersized-wrapper {
    display:none;
}

#transportLegend {
  margin-top:4px;
  td {
      color: #D2D8DE;
      font-size: 0.8em;
      vertical-align: middle;
      padding:0 2px 2px 3px;
      text-align: left;
  }
  .poiCategoryPoint  {
      width:90px;
      height:2px;
      -moz-border-radius:5px;
      -webkit-border-radius:5px;
      vertical-align: middle;

  }
  .description {
      padding-right:30px;
  }
}

.lightTip {
    .content {
        border:6px solid #000;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        background:#222;
        opacity: 0.9;
        color:#fff;
        padding:10px;
    }
    .bottom {
        clear:both;
        opacity: 0.9;
        background:url(/img/tinyTip-notch.png) no-repeat scroll center top;
        height:13px;
    }
}


    body.photo-fullscreen {
        background-color: black;
        .photo-message {
            color:white;
            position:absolute;
            background-image: url(/img/transparent-message-background.png);
            top: 60px;
            left:20px;
            text-align:left;
            z-index:1002;
            width:350px;
            padding:20px;
            -moz-border-radius:4px;
            -webkit-border-radius:4px;
            -o-border-radius:4px;
            
            div {
                display:none;
            }            
            p {
                font-weight:bold;
                font-size:16px;
            }
        }
        photo-message-fullscreen { 
            position:"absolute";
            zIndex:1000;
        }

        #gallery_controls {
            position:absolute;
            top: 20px;
            left:20px;
            z-index:1001;
            //width:800px;

            div {
                display: inline-block;
                padding:5px;
                margin:1px;
                color:#fff;
                
                border:1px solid #fff;
                -moz-border-radius:4px;
                -webkit-border-radius:4px;
                -o-border-radius:4px;
                border-radius:4px;
            }

            div:hover:not(.counter){
                background:rgba(255,255,255,.9);
                color:#000;
            }

            div:not(.counter){
                background: rgb(190, 41, 16);
                cursor:pointer;
            }

            .fullScreen_controls div:hover:not(.counter){
                background:rgba(255,255,255,.9);
                color:#000;
            }

            .fullScreen_controls div:not(.counter){
                background: rgba(0, 0, 0, 0.82);
                cursor:pointer;
            }

            div.sel{
                background:rgba(255,255,255,.9);
            }
        }
    
}

